.git
.gitignore
**/src
**/*.ts
!**/*.d.ts
**/*.map
**/tsconfig*.json
**/tsup.config.*
**/vitest.config.*
**/eslint.config.*
**/.turbo
**/*.log
**/.env*
**/coverage
README.md
CONTRIBUTING.md
docs/
scripts/
