.git
**/*.ts
!**/*.d.ts
**/tsconfig*.json
**/tsup.config.*
**/vitest.config.*
**/eslint.config.*
**/.turbo
**/*.log
**/.env*
**/coverage
README.md
CONTRIBUTING.md
docs/
scripts/
.github/
.npmrc
pnpm-lock.yaml
pnpm-workspace.yaml
